<div *ngIf="alert" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error', 'alert-dimissable': message }">
    {{alert.message}}
    <a class="close" (click)="removeAlert()">&times;</a>
</div>
