<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand niceColor" [routerLink]="['/']" routerLinkActive="router-link-active">Miniamaz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link niceColor" [routerLink]="['/user_list']" routerLinkActive="router-link-active">Liste utilisateurs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link niceColor" [routerLink]="['/product_list']" routerLinkActive="router-link-active">Liste des produits</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link niceColor" [routerLink]="['/login']">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
