<app-navbar></app-navbar>
<div class="ml-4 mt-2" *ngIf="user">
  <h3 class="col-md-6 niceColorTrue">Details de l'utilisateur</h3>
  <div class="form-group col-md-6"><span>User id: </span>{{user.userId}}</div>
  <div class="form-group col-md-6">
    <label>Email:</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email"/>
  </div>
  <div class="form-group col-md-6">
    <label>Prenom:</label>
      <input type="email" class="form-control" [(ngModel)]="user.firstname" placeholder="Prenom"/>
  </div>
  <div class="form-group col-md-6">
    <label>Nom: </label>
      <input type="email" class="form-control" [(ngModel)]="user.lastname" placeholder="Nom"/>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="save()">Sauvegarder</button>
    <button type="button" class="m-2 btn btn-secondary" (click)="goBack()">Retour</button>
  </div>
</div>
