<app-navbar></app-navbar>
<div class="ml-4 mt-2" *ngIf="product">
  <h3 class="col-md-6 p-2">Details du produit</h3>
  <div class="form-group col-md-6"><span>Product id: </span>{{product.id}}</div>
  <div class="form-group col-md-6">
    <label>Label:</label>
      <input type="text" class="form-control" [(ngModel)]="product.label" placeholder="Nom du produit"/>
  </div>
  <div class="form-group col-md-6">
    <label>Prix:</label>
      <input type="number" class="form-control" [(ngModel)]="product.price" placeholder="Prix"/>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="save()">Sauvegarder</button>
    <button type="button" class="m-2 btn btn-secondary" (click)="goBack()">Retour</button>
  </div>
</div>
