
<!-- main app container -->

    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3"> -->
                <alert></alert>
                <router-outlet></router-outlet>
            <!-- </div> 
        </div>
    </div-->
