.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 41px;
    margin-top: 37px;
    margin-left: 12px;
    line-height: 0.1;
}

.p-2{
    margin-top: 25px !important;
}
