/* You can add global styles to this file, and also import other style files */

.jumbotron{
    background-color: white !important;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}

.login-form{
    padding: 9%;
    background:#2B2D42;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.register-form{
    padding: 6%;
    background: #2B2D42;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.register-form h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #B9BAA3;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.center{
    text-align: center;
}

.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}

h3{
    color: #B9BAA3 !important;
}

.niceColor{
    color: #B9BAA3 !important;
    font-weight: bold;
}

.niceColorTrue{
    color: #B9BAA3 !important;
}

.navbar {
    background-color: #2B2D42 !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px !important;
    padding-right: 0 !important;
}

.navbar a {
    color: white;
    /*font-weight: bold;*/
    text-decoration: none;
}
